**/*.db
**/*.backup
**/*.log
**/*.dat
**/*.dat_old
**/*.lock
**/hs_err_pid

**/world
**/world_nether
**/world_the_end
**/logs
**/cache

**/.console_history
**/plugins/mcMMO/backup
**/plugins/AuctionHouse/auctions.db
**/plugins/AuctionHouse/auctions.db.backup
**/plugins/Jobs/jobs.sqlite.db
**/plugins/CMI/cmi.sqlite.db
**/plugins/WorldGuard/cache/profiles.sqlite
**/usercache.json
**/plugins/GriefPreventionData/PlayerData/
Waterfall/locations.yml
**/plugins/AsyncWorldEdit/undo

Anarchy/*
Survival/plugins/CMI/moneyLog/*
*.mca
*.db
Survival/arctic
Survival/realistic
Survival/fantasy
skyblock/plugins/VoidChest/PlayerData/*
Skyblock/plugins/VoidChest/PlayerData/*
Survival/plugins/VoidChest/PlayerData/*
survival/plugins/VoidChest/PlayerData/*
*.mdmp
