**/*.db
**/*.backup
**/*.log
**/*.dat
**/*.dat_old
**/*.lock

**/world
**/world_nether
**/world_the_end
**/logs
**/cache

**/.console_history
**/plugins/mcMMO/backup
**/plugins/AuctionHouse/auctions.db
**/plugins/AuctionHouse/auctions.db.backup
**/plugins/Jobs/jobs.sqlite.db
**/plugins/CMI/cmi.sqlite.db
**/plugins/WorldGuard/cache/profiles.sqlite
**/usercache.json
**/plugins/GriefPreventionData/PlayerData/